<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
     <form method = "POST">
            <select id = "region" name = "region">
                <option value = "I - Ilocos Region">I - Ilocos Region</option>
                <option value = "II - Cagayan Valley">II - Cagayan Valley</option>
                <option value = "III - Central Luzon">III - Central Luzon</option>
                <option value = "IVA - CALABARZON">IV A - CALABARZON </option>
                <option value = "MIMAROPA">MIMAROPA</option>
                <option value = "V - Bicol">V - Bicol</option>
                <option value = "VI - Western Visayas">VI - Western Visayas</option>
                <option value = "VII - Central Visayas">VII - Central Visayas</option>
                <option value = "VIII - Eastern Visayas">VIII - Eastern Visayas</option>
                <option value = "IX - Zamboanga Peninsula">IX - Zamboanga Peninsula</option>
                <option value = "X - Northern Mindanao">X - Northern Mindanao</option>
                <option value = "XI - Davao">XI - Davao</option>
                <option value = "XII - SOCCSKSARGEN">XII - SOCCSKSARGEN</option>
                <option value = "Caraga">XIII - Caraga</option>
                <option value = "NCR">National Capital Region (NCR)</option>
                <option value = "CAR">Cordillera Administrative Region (CAR)</option>
                <option value = "ARMM">Bangsamoro Autonomous Region In Muslim Mindanao (BARMM)</option>
            </select>
            <input type = "submit" value="submit">
     </form>
</body>
</html>