<!doctype html>

<html lang="en">

<head>
	<meta charset="utf-8" http-equiv="X-UA-Compatible" content="chrome=1"/>
    <title>EyeForesee: Poverty</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
</head>

<body>
	<h1>EyeForsee: Poverty</h1>
	<p class="shortDesc">A predictive and descriptive poverty app for the Philippines</p>
	<form action="{{ url_for('main') }}" method="POST">
		<div class="box">
			<fieldset>	
				<legend>Please fill in your yearly expenses</legend>
				<div class="expenditures">
					<div class="column">
						<div class="row">
							<br>
							Total Household Income<br>
							<input name="houseincome" type="number" required>
							<br>
						</div>
						<div class="row">
							<br>
							Bread & Cereals Expenditure<br>
							<input name="breadcerealexp" onkeypress="isInteger(event)" required>
							<br>
						</div>
						<div class="row">
							<br>
							Rice Expenditure<br>
							<input name="riceexp" onkeypress="isInteger(event)" required>
							<br>
						</div>
						<div class="row">
							<br>
							Meat Expenditure<br>
							<input name="meatexp" onkeypress="isInteger(event)" required>
							<br>
						</div>
						<div class="row">
							<br>
							Fish & Marine Products Expenditure<br>
							<input name="fishmarineexp" onkeypress="isInteger(event)" required>
							<br>
						</div>
						<div class="row">
							<br>
							Fruit Expenditure<br>
							<input name="fruitexp" onkeypress="isInteger(event)" required>
							<br>
						</div>
						<div class="row">
							<br>
							Vegetable Expenditure<br>
							<input name="veggieexp" onkeypress="isInteger(event)" required>
							<br>
						</div>
						<div class="row">
							<br>
							Restaurant & Hotel Expenditure<br>
							<input name="restohotelexp" onkeypress="isInteger(event)" style="margin-bottom: 5%;" required>
							<br>
						</div>
					  </div>
					  <div class="column">
						<div class="row">
							<br>
							Clothing and Other Wear Expenditure <br>
							<input name="wearexp" onkeypress="isInteger(event)" required>
							<br>
						</div>
						<div class="row">
							<br>
							Housing and water Expenditure<br>
							<input name="housingwaterexp" onkeypress="isInteger(event)" required>
							<br>
						</div>
						<div class="row">
							<br>
							Imputed House Rental Value<br>
							<input name="imphouserental" onkeypress="isInteger(event)" required>
							<br>
						</div>
						<div class="row">
							<br>
							Transportation Expenditure<br>
							<input name="transpoexp" onkeypress="isInteger(event)" required>
							<br>
						</div>
						<div class="row">
							<br>
							Communication Expenditure<br>
							<input name="commuexp" onkeypress="isInteger(event)" required>
							<br>
						</div>
						<div class="row">
							<br>
							Education Expenditure<br>
							<input name="eduexp" onkeypress="isInteger(event)" required>
							<br>
						</div>
						<div class="row">
							<br>
							Misc Goods and Services Expenditure<br>
							<input name="miscexp" onkeypress="isInteger(event)" required>
							<br>
						</div>
						<div class="row">
							<br>
							Crop Farming and Gardening expenses<br>
							<input name="farmgardenexp" onkeypress="isInteger(event)" style="margin-bottom: 5%;" required>
							<br>
						</div>
					  </div>
				</div>
				
			</fieldset>
		</div>
		<br>
		<div class="resultRow">
			<div class="column1">
				<input type="submit" name="btn" value="predict" class="predButton">
			</div>
			<div class="column1 result">
			  <p>Result: {{ result }}</p>
			</div>
		</div>
	</form>
	<hr>
	<div class="fade-in">
		<h2>Poverty Statistics by Region</h2>
		<p class="shortDesc">Select a region to display its poverty statistics</p>
		<form method = "POST">
            <select id = "region" name = "region">
                <option value = "I - Ilocos Region">I - Ilocos Region</option>
                <option value = "II - Cagayan Valley">II - Cagayan Valley</option>
                <option value = "III - Central Luzon">III - Central Luzon</option>
                <option value = "IVA - CALABARZON">IV A - CALABARZON </option>
                <option value = "MIMAROPA">MIMAROPA</option>
                <option value = "V - Bicol">V - Bicol</option>
                <option value = "VI - Western Visayas">VI - Western Visayas</option>
                <option value = "VII - Central Visayas">VII - Central Visayas</option>
                <option value = "VIII - Eastern Visayas">VIII - Eastern Visayas</option>
                <option value = "IX - Zamboanga Peninsula">IX - Zamboanga Peninsula</option>
                <option value = "X - Northern Mindanao">X - Northern Mindanao</option>
                <option value = "XI - Davao">XI - Davao</option>
                <option value = "XII - SOCCSKSARGEN">XII - SOCCSKSARGEN</option>
                <option value = "Caraga">XIII - Caraga</option>
                <option value = "NCR">National Capital Region (NCR)</option>
                <option value = "CAR">Cordillera Administrative Region (CAR)</option>
                <option value = "ARMM">Bangsamoro Autonomous Region In Muslim Mindanao (BARMM)</option>
            </select>
			<input type = "submit" name="btn" value="Plot" class="plotButton">
		</form>
        <h2>2015 Average Household Expenditure</h2>
        <div class="centerFrameMax">
            <img src="data:image/png;base64, {{ expenditure_rgn }}">
        </div>
        <h2>Poor Household Expenditure</h2>
        <div class="centerFrameMax">
            <img src="data:image/png;base64, {{ pr_expenditure_rgn }}">
        </div>
	</div>
    <script>

        function isInteger(evt) {
            var char = String.fromCharCode(evt.which);

            if(!(/[0-9]/.test(char))) {
                evt.preventDefault();
            }
        }
    </script>
</body>
